apiVersion: v1
kind: Namespace
metadata:
  name: test-go
---
apiVersion: batch/v1
kind: Job
metadata:
  name: test-go-__IMAGE_TAG__-job
  namespace: test-go
spec:
  backoffLimit: 1
  ttlSecondsAfterFinished: 1200
  activeDeadlineSeconds: 1200
  template:
    spec:
      imagePullSecrets:
        - name: ghcr-pull
      containers:
        - name: migrate
          image: ghcr.io/algnot/test-go-api:__IMAGE_TAG__
          env:
            - name: APP_SERVICE
              value: "migrator"
          envFrom:
            - secretRef:
                name: test-go-secret
            - configMapRef:
                name: test-go-config-map
      restartPolicy: Never