permissions:
  contents: read
  packages: write

name: Deploy App

on: [push]

jobs:

  Build:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Image
        run: |
          docker build -t ghcr.io/algnot/test-go-api:${{ github.sha }} .

      - name: Login to GHCR
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: |
          docker push ghcr.io/algnot/test-go-api:${{ github.sha }}

      - name: Tag latest
        run: |
          docker tag ghcr.io/algnot/test-go-api:${{ github.sha }} ghcr.io/algnot/test-go-api:latest
          docker push ghcr.io/algnot/test-go-api:latest
